<form method="post" action="{{ path('genre_delete', {'id': genre.id}) }}" onsubmit="return confirm('êtes-vous sûrs de vouloir supprimer ce genre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
