{% extends 'base.html.twig' %}

{% block title %}Edit Auteur{% endblock %}

{% block body %}
    <h1>Modifier un Auteur</h1>

    {{ include('auteur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-primary btn-adds" href="{{ path('auteur_index') }}">Retour</a>

    {{ include('auteur/_delete_form.html.twig') }}
{% endblock %}
